article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width:768px) {
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
  }
}

@media (min-width:768px) {
  .col-sm-4 {
    width: 33.33333333%;
  }
}

@media (min-width:992px) {
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
  }
}

@media (min-width:992px) {
  .col-md-3 {
    width: 25%;
  }
}

@media (min-width:1200px) {
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;
  }
}

@media (min-width:1200px) {
  .col-lg-2 {
    width: 16.66666667%;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width:768px) {
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
  }
}

@media (min-width:768px) {
  .col-sm-4 {
    width: 33.33333333%;
  }
}

@media (min-width:992px) {
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
  }
}

@media (min-width:992px) {
  .col-md-3 {
    width: 25%;
  }
}

@media (min-width:1200px) {
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;
  }
}

@media (min-width:1200px) {
  .col-lg-2 {
    width: 16.66666667%;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

.menu-nav {
  bottom: 0;
  margin: 0;
  padding: 25px 0 25px;
  max-height: -webkit-calc(100% - 167px);
  max-height: calc(100% - 167px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menu-nav {
  bottom: 0;
  margin: 0;
  padding: 25px 0 25px;
  max-height: -webkit-calc(100% - 167px);
  max-height: calc(100% - 167px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menu-nav a.active {
  color: #ff5441;
  text-decoration: underline;
}

.menu-nav .category_name {
  color: #393c4b;
  font-weight: bold;
}

#wrapper {
  margin: 0 0 0 200px;
  position: relative;
  top: 73px;
  background: #ffffff;
  opacity: 1;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

#wrapper.no-transition {
  -moz-transition: opacity 300ms ease, height 0s !important;
  -webkit-transition: opacity 300ms ease, height 0s !important;
  transition: opacity 300ms ease, height 0s !important;
}

body.gallery #assets {
  opacity: 1;
}

body.gallery .gallery-navigation {
  color: #ff5441;
  font-family: Karla, sans-serif;
  font-size: 14px;
  text-decoration: underline;
  text-decoration: none;
  outline: none;
}

body.gallery .gallery-navigation {
  margin: 0 0 7px 0;
  font-weight: normal;
}

a.gallery-navigation {
  color: #ab1827;
}

.gallery-navigation {
  color: #ab1827;
}

.font {
  font-family: monospace;
  color: maroon;
}

.font {
}

.font2 {
  font-family: 'Karla';
  color: #393c4b;
  font-size: small;
}

.dropdownc {
  background-color: red;
}

pointer {
  pointer-events: none;
}

img {
  webkit-touch-callout: none;
  pointer-events: none;
}

a:hover {
  cursor: url('https://cdn.cursors-4u.net/previews/minecraft-diamond-axe-7787b88b-32.webp') 32 32, pointer !important;
}

.dropdown-menu {
  z-index: 1070;
}

.gallery {
  z-index: 1070;
}

.gallery-1 {
  z-index: 1070;
}

